.row>.input-field{
    margin-top: 0;
}
.mark-section>.card-panel{
}
.section .mark-section {
    padding: 0;
    overflow-y: auto;

}
.no-radius tr th{
    border-radius: 0;

}
.section .mark-section table tr th{
    border-radius: 0;
}
.section .mark-section table th,td{
    border: 1px solid #d0d0d0;
}

.mark-section .card-title{
    padding:10px;
}

table.centered thead tr th, table.centered tbody tr td {
    border: 1px solid #d0d0d0 !important;
}

.no-padding{
    padding: 0 !important;
}

.overflow-y{
    overflow-y: auto;
}

header, main, footer {
    padding-left: 270px;
}

/*.student-filter-wrap .row a{*/
    /*width: 160px;*/
/*}*/

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}